[Unit]
Description=Authentik LDAP bridge
After=network.target

[Service]
User=authentik
Group=authentik
EnvironmentFile=/etc/conf.d/authentik-ldap
ExecStart=/usr/bin/authentik-ldap

[Install]
WantedBy=multi-user.target
